body {
  margin: 0px;
  
  font-family: 'Jura', sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(63, 5, 5);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, hsl(249, 93%, 11%));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b3693, #003603); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h3{
  padding-bottom: 1vw;
  color:aliceblue;
  font-family: 'Rock Salt', cursive;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: rgba(29, 139, 173, 0.2);
  padding: 3vw;

}

.tareas {
  background-color:rgba(134, 103, 39, 0.63);
  display: block;
  float: left;
  margin: 1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 2em;
}